.button{
    border: 1px solid grey;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0,0,0,0.75);

}